:root {
  --main-color: #2bb673;          /* Main Color */
  --light-main-color: #45c98a;    /* Lighter shade of the main color */
  --dark-main-color: #238658;     /* Darker shade of the main color */
  --secondary-color: #a1e9c4;     /* Light Green */
  --dark-secondary-color: #89d0ad;/* Darker Light Green */
  --accent-color: #276a51;        /* Dark Green */
  --light-accent-color: #39825c;  /* Lighter Dark Green */
  --contrast-color: #2b4b67;      /* Blue-Green */
  --highlight-color: #67b62b;     /* Bright Green */
  --muted-color: #2bb673cc;       /* Muted Main Color */
}

a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{ 
  font-family: "Noto Sans Thai", sans-serif; 
}
#navbar{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--muted-color);
}     
.navbar .navbar-brand img{
  width: 300px !important;
  height: auto;
}
#navbar .navbar-nav li{
  margin-left: 12px;
  margin-right: 12px;
}
#navbar .container-fluid{
  justify-content: start;
}
#navbar .container-fluid h2{
  color: #fff;
}
main h4{
  color: var(--main-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
}
.borin{
  border: 12px solid var(--main-color); 
  border-radius: 7px;
}
.borin h1{
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
}
.rowg .col div{
  background-color: var(--main-color);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}
.borin h2{
  color: #DE8B00;
  text-align: center;
} 
.borin h1.text-black{
  text-decoration: none;
  color: #54595F !important;
} 
.form-bg{
  background-color: var(--main-color);
  padding: 15px 20px; 
}
.form-bg h4{ 
  color: #fff;
  text-align: start;
}
.form-check{
  font-size: 18px !important;
  color: #fff !important;
  margin-bottom: 15px;
}  
.form-bg label{
  font-size: 18px !important;
  color: #fff !important;
  margin-bottom: 10px;
}
.form-bg input{
  font-size: 18px !important; 
  margin-bottom: 15px;
}
.form-bg textarea{
  font-size: 18px !important; 
  margin-bottom: 15px;
} 
.form-bg .btn-danger{
  background-color: #D41022;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
p{
  font-size: 20px;
  color: #9C9C9C;
  margin-bottom: 5px;
}
p span{ 
  color: var(--main-color);
}
.text-green{ 
  color: var(--main-color);
}
.vidc{
  display: block;
  margin: auto;
}


/* 
transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }    
  .container{
    max-width: 800px;
  }
}     