:root {
  --main-color: #2bb673;          /* Main Color */
  --light-main-color: #45c98a;    /* Lighter shade of the main color */
  --dark-main-color: #238658;     /* Darker shade of the main color */
  --secondary-color: #a1e9c4;     /* Light Green */
  --dark-secondary-color: #89d0ad;/* Darker Light Green */
  --accent-color: #276a51;        /* Dark Green */
  --light-accent-color: #39825c;  /* Lighter Dark Green */
  --contrast-color: #2b4b67;      /* Blue-Green */
  --highlight-color: #67b62b;     /* Bright Green */
  --muted-color: #2bb673cc;       /* Muted Main Color */


  /* --main-color: #37220f;
  --color-1: #4a2f12;
  --color-2: #5e3b16;
  --color-3: #714719;
  --color-4: #85531d;
  --color-5: #996020;
  --color-6: #ad6c24;
  --color-7: #c07928;
  --color-8: #d4852b;
  --color-9: #e8922f;
  --color-10: #fc9f33; */
}

a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{ 
  font-family: "Noto Sans Thai", sans-serif; 
}
#navbar{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background-color: var(--muted-color);
}     
.navbar .navbar-brand img{
  width: 300px !important;
  height: auto;
}
#navbar .navbar-nav li{
  margin-left: 12px;
  margin-right: 12px;
}
#navbar .container-fluid{
  justify-content: start;
}
#navbar .container-fluid h2{
  color: #fff;
}
main h4{
  color: var(--main-color);
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 40px;
}
.borin{
  border: 12px solid var(--main-color); 
  border-radius: 7px;
}
.borin h1{
  color: red;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 40px;
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
}
.rowg .col div{
  background-color: var(--main-color);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}
.borin h2{
  color: #DE8B00;
  text-align: center;
} 
.borin h1.text-black{
  text-decoration: none;
  color: #54595F !important;
} 
.form-bg{
  background-color: var(--main-color);
  padding: 15px 20px; 
}
.form-bg h4{ 
  color: #fff;
  text-align: start;
}
.form-check{
  font-size: 18px !important;
  color: #fff !important;
  margin-bottom: 15px;
}  
.form-bg label{
  font-size: 18px !important;
  color: #fff !important;
  margin-bottom: 10px;
}
.form-bg input{
  font-size: 18px !important; 
  margin-bottom: 15px;
}
.form-bg textarea{
  font-size: 18px !important; 
  margin-bottom: 15px;
} 
.form-bg .btn-danger{
  background-color: #D41022;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}
p{
  font-size: 20px;
  color: #9C9C9C;
  margin-bottom: 5px;
}
p span{ 
  color: var(--main-color);
}
.text-green{ 
  color: var(--main-color);
}
.vidc{
  display: block;
  margin: auto;
}
.h3-hr{
  color: var(--main-color);
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0.3); 
  font-size: 40px;
  text-align: center;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
}
.h3-hr::after{
  content: "";
  position: relative;
  width: 50px;
  height: 5px; 
  display: block; 
  margin: auto; 
  bottom: -10px;
  background-color: var(--main-color); 
  border-radius: 3px;
}
.we-brand{
  box-shadow: 0px 0px 0px 0px rgba(105, 36, 36, 0);
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #E7E7E7;
  min-height: 170px; 
  transition: .33s all ease-out;    
} 
.we-brand img{
  height: 155px;
  width: 155px;
  object-fit: scale-down;
  padding: 10px;
} 
.contact-box{
  min-height: 200px;
  width: 100% !important;
  box-shadow: 0px 35px 35px 0px rgba(0, 0, 0, 0.1); 
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
  background-color: #fff;
  border-radius: 0px 0px 20px 20px;
}
.contact-box > .row > div{ 
  padding: 50px 40px 0px 40px;
}
.contact-box h4{
  text-align: left;
  color: #1a1a1a; 
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase; 
  position: relative;
}
.contact-box h4::after{
  content: "";
  position: absolute;
  width: 50px;
  height: 4px; 
  left: 0;
  bottom: -35px;
  margin-bottom: 40px;
  background-color: var(--main-color); 
  border-radius: 3px;
}

/* 
transition: .33s all ease-out;  
######################################################################################################
###################################################################################################### 
*/ 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}
@media only screen and (min-width: 1025px) { /* PC */
  .pc-x{
    display: none !important;
  }    
  .container{
    max-width: 800px;
  }
}     